

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DroidKufi-Regular.eot);
  src: 
     
       url(../fonts/DroidKufi-Regular.woff) format('woff'),
       url(//localhost:8888/el2/fonts/DroidKufi-Regular.ttf) format('truetype');
}
body
{   font-family: 'Droid Arabic Kufi', sans-serif;
   

    padding-top: 50px;
}
.zerorightmargin
{
    margin-right:0px;
}
	
	
.zeropadding
{
    margin-top:10px;
    padding-right:0px;
    font-size:18px;	
		
}
.withborder{
	border-style:solid;
	border-color:#CCC;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-width:thin;
		}
#wrapper-row 
{
   
   
    
}
#side-nav
{
    background-color: #fff;
    padding: 0px;
   
}
                
.site-footer
{
    background: -webkit-linear-gradient(grey, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, black); /* Standard syntax */
    color:#fff;
    margin-top:30px;
    padding-top:10px
}
.site-footer ul
{
    
    list-style-type: none;
}
.site-footer a
{  
    text-decoration: none;
    color: #fff;
}
.site-footer a:hover
{  
    color: #d58512;
}
.rightnav li:not(:first-child)
{
    border-top: thin solid #CCC;
    border-collapse: collapse;
    transition: background-color 2s;
    margin: 0px;
    border-radius: 0px;
   
}
.rightnav > li > a
{
    transition: background-color 1.25s;
    transition: padding-right 1s;
    
}
.rightnav > li > a:hover
{
    
    background-color: #CCC;
    padding-right:40px;
}
.submenu{
    padding: 0px;
    background-color: #fff;
    list-style-type: none;
    width:250px;
    position: absolute;
    top: 0;
    left:-250px;
    z-index: 100;}
.submenu a{
  padding: 10px;  
  text-decoration: none;
}
.submenu li{
    padding: 10px;  
    text-decoration: none;
    border-top: thin solid #CCC;
    border-collapse: collapse;
    transition: background-color 2s;
    margin: 0px;
    border-radius: 0px;
}
.submenu
{
    
    visibility: hidden;
}

#numbnails-list .col-md-3
{
    padding: 0px;
    width:209px;
   
}

#numbnails-list .col-md-3:first-child
{
    margin-right:  12px;
    
}

#numbnails-list .col-md-3
{
  overflow: hidden;
      
}

#numbnails-list .col-md-3 a
{
    background-color: #000000;
    position: absolute;
    top:0;
    left:0;
    transition: all 1s;
    
}
#numbnails-list .col-md-3 p
{
    color:white;
    display: block;
    width: 210px;
    height:120px;
    background-color: #354458;
    margin: 0px;
    padding: 10px;
    
}

#numbnails-list .col-md-3 a:hover
{
    opacity: 0.2;
    transform: scale(1.2);
    
}

#support
{
    position: fixed;display: block;
    left:0;
    top: 100px;
    z-index: 100;
    
    
}
#support .panel
{
    text-align: center;
    
}
#support .panel .panel-body
{
    text-align: right;
    
}

#support a
{
    text-decoration: none;
    
     width: 65px;
     height: 60px;
     overflow: hidden;
     display: block;
}

#support img
{
    width: 65px;height: 60px;
    
}

#support a:hover
{
    overflow: visible;
    width: 300px;
    text-align: left;
    
}
